<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <app-user-toolbar></app-user-toolbar>
</mat-toolbar>
<app-user-profile></app-user-profile>
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here the data in the firestore: </h2>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>
<h2>Here the user profile: </h2>
<app-user-profile></app-user-profile>
<router-outlet></router-outlet> -->
